@model SmartInventory.Contract.Request.CreateSupplierRequest

@{
    ViewData["HeaderTitle"] = "Create Supplier";
    ViewData["BreadCrumbFirst"] = "Home";
    ViewData["BreadCrumbActive"] = "Supplier";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <div class="card card-primary">

            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-truck"></i> Add New Supplier
                </h3>
            </div>

            <form asp-action="Create" method="post">
                @Html.AntiForgeryToken()

                <div class="card-body">

                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <div class="input-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>

                            <input asp-for="Name" class="form-control" placeholder="Enter supplier name">
                        </div>

                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Phone"></label>

                        <div class="input-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-phone"></i>
                                </span>
                            </div>

                            <input asp-for="Phone" type="tel" class="form-control" placeholder="Enter phone number">

                        </div>

                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Address"></label>

                        <div class="input-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                            </div>

<textarea asp-for="Address" class="form-control" placeholder="Enter supplier address"></textarea>

                        </div>

                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                </div>


                <div class="card-footer text-right">

                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Save Supplier
                    </button>

                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back
                    </a>

                </div>

            </form>

        </div>

    </div>
</div>