@model SmartInventory.Contract.Request.CustomerResponse

<h2>Customer Details</h2>

<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Phone:</strong> @Model.PhoneNumber</p>
<p><strong>Address:</strong> @Model.Address</p>

<a asp-action="Index" class="btn btn-secondary">Back</a>