@model SmartInventory.Contract.Request.PurchaseCreateRequest

@{
	ViewData["HeaderTitle"] = "Create Purchase";
	ViewData["BreadCrumbFirst"] = "Home";
	ViewData["BreadCrumbActive"] = "Purchase";
}
<h2>Create Purchase</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label>Product</label>
        <select name="Details[0].ProductId" class="form-control">
            <option value="">Select Product</option>

        </select>
    </div>
            <div class="mb-3">
                <label>Product</label>
                <select name="Details[0].ProductId" class="form-control">
                    <option value="">Select Product</option>

            @foreach (var p in ViewBag.Products)
            {
                <option value="@p.id">@p.ProductName</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label>Quantity</label>
        <input name="Details[0].Quantity" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input name="Details[0].Price" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Save Purchase
    </button>

</form>